.bg-color-nyanza {
  background-color: #DFF2D8;
}

.color-nyanza {
  color: #DFF2D8
}

.bg-tea-green {
  background-color: #C6DEA6;
}

.color-tea-green {
  color: #C6DEA6
}

.bg-color-middle-blue {
  background-color: #7EBDC3;
}

.color-middle-blue {
  color: #7EBDC3;
}

.bg-color-deep-taupe {
  background-color: #7A6263;
}

.color-deep-taupe {
  color: #7A6263;
}

.bg-color-sage {
  background-color: #CED097;
}

.color-sage {
  background-color: #CED097;
}